<mat-card class="example-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Usuários</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      LISTAGEM E CADASTRO DE USUÁRIOS
    </p>
  </mat-card-content>
  <mat-card-actions>
   	<a mat-raised-button color="primary" [routerLink]="['/usuario']">Lista de Usuários</a>
    <a mat-raised-button color="primary" [routerLink]="['/usuario/novo']">Cadastrar Novo Usuário</a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Prensas</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      LISTAGEM E CADASTRO DE PRENSAS
    </p>
  </mat-card-content>
  <mat-card-actions>
   	<a mat-raised-button color="primary" [routerLink]="['/info']">Lista de Prensas</a>
    <a mat-raised-button color="primary" [routerLink]="['/info/novo']">Cadastrar Nova Prensa</a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Solados</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      LISTAGEM E CADASTRO DE SOLADOS
    </p>
  </mat-card-content>
  <mat-card-actions>
   	<a mat-raised-button color="primary" [routerLink]="['/solado']">Lista de Solados</a>
    <a mat-raised-button color="primary" [routerLink]="['/solado/novo']">Cadastrar Novo Solado</a>
  </mat-card-actions>
</mat-card>
