
<h1 style="text-align:center">Listagem de Grupos De Prensas</h1>

<mat-toolbar class="new-item">
	<a mat-raised-button color="primary" [routerLink]="['/grupoPrensa/novo']">
		<mat-icon>person_add</mat-icon>
		Novo Usuário
	</a>
<table mat-table [dataSource]="grupoPrensas" class="mat-elevation-z2">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Código Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Código </th>
    <td mat-cell class="cell-align-center" *matCellDef="let grupoPrensa"> {{grupoPrensa.codigo}} </td>
  </ng-container>

   <ng-container matColumnDef="capacidade">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Capacidade Produtiva </th>
    <td mat-cell class="cell-align-center" *matCellDef="let grupoPrensa"> {{grupoPrensa.capacidade}} </td>
  </ng-container>

   <ng-container matColumnDef="solado_prod">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Solado em Produção </th>
    <!-- O ? - Caso não haja dados a serem exibidos ele não zoa a tabela inteira -->
    <td mat-cell class="cell-align-center" *matCellDef="let grupoPrensa"> {{grupoPrensa.solado_prod.cod_ref}} </td>
  </ng-container>

  <ng-container matColumnDef="usuario">
    <th mat-header-cell class="cell-align-center" *matHeaderCellDef> Operador Encarregado</th>
    <!-- O ? - Caso não haja dados a serem exibidos ele não zoa a tabela inteira -->
    <td mat-cell class="cell-align-center" *matCellDef="let grupoPrensa"> {{grupoPrensa.usuario}} </td>
  </ng-container>

	<!-- Editar Column -->
		<ng-container matColumnDef="editar">
			<th mat-header-cell class="cell-align-center" *matHeaderCellDef> Editar </th>

			<td class="cell-align-center" mat-cell *matCellDef="let grupoPrensa">
			<a mat-raised-button color="primary" title="Editar" 
				[routerLink]="['/grupoPrensa', grupoPrensa._id]">
				<mat-icon>edit</mat-icon>
			</a>
		
			</td>
	</ng-container>

		<!-- Excluir Column -->
		<ng-container matColumnDef="excluir">
			<th mat-header-cell class="cell-align-center" *matHeaderCellDef> Excluir </th>
			<td class="cell-align-center" mat-cell  *matCellDef="let grupoPrensa">

			<button mat-raised-button color="warn" title="Excluir" (click)="excluir(grupoPrensa._id)">
				<mat-icon>delete_forever</mat-icon>
			</button>
		
			</td>
	</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

